/****** Struktur og placering *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

/***************************************************** MOBIL - starter her ***********************************************/
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .logo {
    width: 30%;
    height: auto;
    margin-left: 5rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 1.5rem;
    background-color: rgba(207, 222, 232, 1);
  }

  

  /***************************************************** index - MOBIL *************************************************/

  /****** overskrift/billeder - layout - MOBIL *****/
  .blok2 {
    margin-left: 2rem;
    padding-block: 1rem;
  }
  .blok1 {
    display: grid;
    justify-self: end;
  }
  .blok img {
    margin-left: -4rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-block: 1rem;
  }

  .blok1 img {
    margin-left: 4rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-block: 1rem;
  }

  .dankort {
    display: block;
    justify-self: end;
    margin-right: 1rem;
  }

  .dk_tekst {
    margin-left: 1.8em;
  }

  .indeximg2 {
    width: 87%;
    height: auto;
  }

  /****** Fakta blok1 - layout - MOBIL *****/
  .faktablok1 h1 {
    text-align: center;
  }
  .fakta_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fakta_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  /****** Alt om points - layout - MOBIL ******/

  .din_profil_tekst {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 60px;
  }

  .points_card_grid img {
    display: flex;
    justify-self: end;
    width: 20%;
  }

  /****** vidste du at... - layout - MOBIL ******/

  .pointshop_site {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .pointshop_h1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-top: -6rem;
    z-index: 3;
  }

  .pointshop_h1 h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
  }

  .pointshop_h1 h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    line-height: 2.3rem;
  }

  .img_ps1 {
    width: 50%;
    height: auto;
    float: right;
    margin-right: -2rem;
    border-radius: 2rem;
    margin-top: 2rem;
  }

  .img_ps2 {
    width: 50%;
    height: auto;
    border-radius: 2rem;
    margin-left: 7rem;
    z-index: 5;
    position: absolute;
    top: 120px;
  }

  .img_ps3 {
    width: 70%;
    height: auto;
    float: right;
    margin-right: -2rem;
    border-radius: 2rem;
  }

  .img_ps4 {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-left: -2rem;
  }

  .img_pointshop_h1 {
    position: relative;
  }

  .img_pointshop_h2 {
    display: none;
  }

  .belonninger {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    line-height: 3rem;
  }

  #filters {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  /******************************************* challenges - MOBIL *******************************************/

  .challenges_imgimg {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .img_v {
    display: grid;
    grid-column: 1;
    margin-top: 30px;
    height: 120%;
  }

  .img_v1 {
    border-radius: 35px;
    height: 40%;
    width: 130%;
    margin-top: 5rem;
    margin-left: -5rem;
  }
  .img_h {
    display: grid;
    grid-column: 2;
  }

  .img_hj1 {
    height: 85%;
    width: 85%;
    border-radius: 35px;
  }

  .img_hj2 {
    height: 110%;
    width: 85%;
    border-radius: 35px;
    z-index: -1;
    margin-left: 9rem;
    margin-top: -6rem;
  }

  .img_hj3 {
    height: 240%;
    width: 70%;
    border-radius: 30px;
    margin-top: -9rem;
    margin-left: 3rem;
  }
  .challenges_container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /**** footer - layout - MOBIL  ****/
}

/***************************************************** DESKTOP - starter her ***********************************************/
@media screen and (min-width: 800px) {

  
  /***** menu - layout - DESKTOP *****/

  .burgermenu {
    display: none;
  }

  .logo {
    width: 10%;
    height: auto;
    margin-left: 10rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 1.5rem;
    background-color: rgba(207, 222, 232, 1);
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
  }
  /******************************************************** INDEX - DESKTOP ***********************************************/
  /**** overskrift + billeder - layout - DESKTOP *****/

  .blok {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blok1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order {
    order: 2;
  }

  .indeximg1 {
    width: 95%;
    height: auto;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-right: -1rem;
    justify-self: end;
    margin-top: 3rem;
  }

  .indeximg2 {
    width: 95%;
    height: auto;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top: -15rem;
  }

  /***** Fakta blok1 - layout - DESKTOP *****/

  .fakta_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
    justify-items: end;
  }

  .faktablok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
  }

  .fakta_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    order: -1;
    align-items: end;
    justify-items: end;
  }

  /***** alt om points - layout - DESKTOP *****/
  .altompoint {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem;
  }

  .din_profil_tekst {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 60px;
  }

  .points_card_grid img {
    display: flex;
    justify-self: end;
    width: 20%;
  }

  /***** vidste du at... - layout - DESKTOP *****/
  .card1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-left: 7rem;
    margin-top: 4rem;
  }

  .card2 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin-top: 5rem;
  }

  /*********************************************** footer - DESKTOP *****************************************************/

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4rem;
    margin-left: 7rem;
    margin-bottom: 10rem;
  }
}
