/****** Struktur og placering *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

/****** Header ******/
@media screen and (max-width: 800px) {

.menu{
  display: none;
}

.logo{
    width: 30%;
    height: auto;
    margin-left: 5rem;

}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 1.5rem;
    background-color: rgba(207, 222, 232, 1);
}

/***** body *****/

.blok2{
  margin-left: 2rem;
  padding-block: 1rem;
}

.blok img{
  margin-left: -4rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-block: 1rem;
}

.blok1{
  display: grid;
  justify-self: end;
}

.blok1 img{
  margin-left: 4rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-block: 1rem;
}

.dankort{
  display: block;
  justify-self: end;
  margin-right: 1rem;
}

.dk_tekst{
  margin-left: 1.8em;
}

.indeximg2{
  width: 87%;
  height: auto;
}

/****** Fakta blok1 *****/

.faktablok1 h1{
  text-align: center;
}
.fakta_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fakta_grid1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/****** Alt om points ******/

.din_profil_tekst{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  line-height: 60px;
}


.points_card_grid img{
  display: flex;
  justify-self: end;
  width: 20%;
}

/****** vidste du ******/


.pointshop_site{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.pointshop_h1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;
}

.pointshop_h1 h1{
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: rgba(28, 42, 53, 1);
}

.pointshop_h1 h3{
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}


.img_ps1{
  width: 50%;
  height: auto;
  float: right;
  margin-right: -2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.img_ps2{
  width: 50%;
  height: auto;
  border-radius: 2rem;
  margin-left: 7rem;
  z-index: 10;
  position: absolute;
  top: 120px;
}

.img_ps3{
  width: 70%;
  height: auto;
  float: right;
  margin-right: -2rem;
  border-radius: 2rem;
}

.img_ps4{
  width: 80%;
  height: auto;
  margin-top: 2rem;
  border-radius: 2rem;
  margin-left: -2rem;
}

.img_pointshop_h1{
  position: relative;
}

.img_pointshop_h2{
  display: none;
}

.belonninger{
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  color: rgba(28, 42, 53, 1);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 3rem;
}

/**** footer ****/


}

@media screen and (min-width: 800px) {


/***** Header *****/
.burgermenu{
  display: none;
}

.logo{
    width: 10%;
    height: auto;
    margin-left: 10rem;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 1.5rem;
    background-color: rgba(207, 222, 232, 1);
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1rem;
}

/********* Body ********/

.blok{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blok1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.order{
    order: 2;
}

.indeximg1{
    width: 95%;
    height: auto;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-right: -1rem;
    justify-self: end;
    margin-top: 3rem;

}

.indeximg2{
    width: 95%;
    height: auto;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top: -15rem;
}

/***** Fakta blok1 *****/

.fakta_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  justify-items: end;
}

.faktablok{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.fakta_grid1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/***** alt om points *****/
 .altompoint{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
  }

}