/****** Struktur og placering *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px;

  margin-bottom: 10px;
}

.kobnu_knap {
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
}

/***************************************************** MOBIL - starter her ***********************************************/
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .logo {
    width: 30%;
    height: auto;
    margin-top: 0.3rem;
    margin-left: 0.4rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 0.4rem;
    background-color: rgba(207, 222, 232, 1);
  }

  /***************************************************** index - MOBIL *************************************************/

  /****** overskrift/billeder - layout - MOBIL *****/
  .blok2 {
    margin-left: 2rem;
    padding-block: 1rem;
  }
  .blok1 {
    display: grid;
    justify-self: end;
  }
  .blok img {
    margin-left: -4rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-block: 1rem;
  }

  .blok1 img {
    margin-left: 4rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-block: 1rem;
  }

  .blok3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dankort {
    display: block;
    justify-self: end;
    margin-right: 1rem;
  }

  .dk_tekst {
    margin-left: 1.8rem;
  }

  .indeximg2 {
    width: 87%;
    height: auto;
  }

  /****** Fakta blok1 - layout - MOBIL *****/
  .faktablok1 h1 {
    text-align: center;
  }
  .fakta_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fakta_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  /****** Alt om points - layout - MOBIL ******/

  .din_profil_tekst {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 60px;
  }

  .points_card_grid img {
    display: flex;
    justify-self: end;
    width: 20%;
  }

  .knap_pil {
    display: flex;
    justify-self: flex-end;
  }

  /****** pointshop - layout - MOBIL ******/

  .pointshop_site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .pointshop_h1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
    margin-top: -7rem;
    z-index: 3;
  }

  .img_ps1 {
    width: 50%;
    height: auto;
    float: right;
    margin-right: -2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    object-fit: cover;
  }

  .img_ps2 {
    width: 50%;
    height: auto;
    border-radius: 2rem;
    margin-left: 7rem;
    z-index: 5;
    position: absolute;
    top: 120px;
    object-fit: cover;
  }

  .img_ps3 {
    width: 70%;
    height: auto;
    float: right;
    margin-left: 150px;
    border-radius: 2rem;
    margin-top: 55px;
    object-fit: cover;
  }

  .img_ps4 {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-left: -2rem;
    object-fit: cover;
  }

  .img_pointshop_h1 {
    position: relative;
  }

  .img_pointshop_h2 {
    display: none;
  }

  .belonninger {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    line-height: 3rem;
  }

  #filters {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  /******************************************* challenges - MOBIL *******************************************/

  .challenges_imgimg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
  }

  .img_v {
    display: grid;
    grid-column: 1;
    margin-top: 30px;
    height: 120%;
    object-fit: cover;
  }

  .img_v1 {
    border-radius: 35px;
    height: 40%;
    width: 130%;
    margin-top: 5rem;
    margin-left: -5rem;
    object-fit: cover;
  }
  .img_h {
    display: grid;
    object-fit: cover;
  }

  .img_hj1 {
    height: 85%;
    width: 85%;
    border-radius: 35px;
    object-fit: cover;
  }

  .img_hj2 {
    height: 110%;
    width: 85%;
    border-radius: 35px;
    z-index: -1;
    margin-left: 9rem;
    margin-top: -6rem;
    object-fit: cover;
  }

  .img_hj3 {
    height: 240%;
    width: 70%;
    border-radius: 30px;
    margin-top: -9rem;
    margin-left: 3rem;
    object-fit: cover;
  }
  .challenges_container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /**** footer - layout - MOBIL  ****/
}

/***************************************************** DESKTOP - starter her ***********************************************/
@media screen and (min-width: 800px) {
  /***** menu - layout - DESKTOP *****/

  .burgermenu {
    display: none;
  }

  .logo {
    width: 15%;
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(207, 222, 232, 1);
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
  }
  /******************************************************** INDEX - DESKTOP ***********************************************/
  /**** overskrift + billeder - layout - DESKTOP *****/

  .blok {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blok1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blok3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order {
    order: 2;
  }

  .indeximg1 {
    width: 100%;
    height: 70%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-right: -0.2rem;
    justify-self: end;
    margin-top: 3rem;
    object-fit: cover;
  }

  .indeximg2 {
    width: 80%;
    height: 90%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    object-fit: cover;
    margin-top: -3rem;
  }

  /***** Fakta blok1 - layout - DESKTOP *****/

  .fakta_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
    justify-items: end;
  }

  .faktablok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
  }

  .fakta_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    order: -1;
    align-items: end;
    justify-items: end;
  }
  /***** hent som app - layout - DESKTOP *****/
  .hentsomapp {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /***** alt om points - layout - DESKTOP *****/
  .altompoint {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem;
    margin-bottom: 8rem;
  }

  .din_profil_tekst {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 60px;
  }

  .points_card_grid img {
    display: flex;
    justify-self: end;
    width: 20%;
  }

  .knap_pil {
    display: flex;
    justify-self: flex-end;
  }

  /***** vidste du at... - layout - DESKTOP *****/
  .card1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-left: 7rem;
    margin-top: 4rem;
  }

  .card2 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin-top: 5rem;
  }

  /******************************************************** challenges - DESKTOP ***********************************************/
  /***** Toppen af siden (img) - layout - DESKTOP *****/
  .challenges_imgimg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    overflow: hidden;
  }

  .img_v {
    display: grid;
  }

  .img_v1 {
    grid-column: 1;
    grid-row: 1;
    border-radius: 35px;
    margin-top: 30px;
    height: 40%;
    width: 140%;
    margin-top: 3rem;
    margin-left: -5rem;
    object-fit: cover;
  }
  .img_h {
    display: grid;
  }

  .img_hj1 {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    border-radius: 35px;
    margin-left: -10rem;
    margin-top: 0rem;
    object-fit: cover;
  }

  .img_hj2 {
    grid-column: 2;
    grid-row: 2;
    height: 50%;
    width: 110%;
    border-radius: 35px;
    z-index: -1;
    margin-right: -3rem;
    margin-top: -7rem;
    object-fit: cover;
  }

  .img_hj3 {
    grid-row: 2;
    height: 40%;
    width: 70%;
    border-radius: 30px;
    margin-right: 3rem;
    object-fit: cover;
  }
  /***** challenges bokse - layout - DESKTOP *****/

  .nu_challenges_h1 {
    margin-top: -10rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  .nu_challenges_h1_dinprofil {
    margin-bottom: 2rem;
  }

  /****************************************** pointshop - DESKTOP *****************************************/

  .pointshop_site {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    margin-bottom: -21rem;
  }

  .pointshop_h1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-left: 3rem;
    margin-top: 3rem;
    z-index: 3;
  }

  .img_ps1 {
    grid-column: 2;
    grid-row: 1;
    width: 40%;
    height: auto;
    float: right;
    margin-right: -2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    object-fit: cover;
  }

  .img_ps2 {
    grid-column: 3/4;
    grid-row: 1;
    width: 40%;
    height: auto;
    border-radius: 2rem;
    margin-left: 20rem;
    z-index: 5;
    position: absolute;
    top: 15rem;
    object-fit: cover;
  }

  .img_ps3 {
    display: flex;
    justify-self: end;
    grid-column: 2;
    grid-row: 2;
    width: 30%;
    margin-right: -0.5rem;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    object-fit: cover;
  }

  .img_ps4 {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    margin-left: -2rem;
    object-fit: cover;
  }

  .img_pointshop_h1 {
    position: relative;
  }

  .img_pointshop_h2 {
    display: none;
  }

  .belonninger {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    line-height: 3rem;
  }

  #filters {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  /*********************************************** footer - DESKTOP *****************************************************/

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4rem;
    margin-left: 7rem;
    margin-bottom: 10rem;
  }
}
