/******** Index ********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden-checkbox2 {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/*** kanppen der trigger popup style ***/
.trigger-btn2 {
  padding: 12px 24px;
  background-color: #e61d27;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 2rem;
  margin-left: 2rem;
}

.trigger-btn2:hover {
  background-color: #d50015;
}

/*** popuo desktop formatet style ***/
.popup-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(226, 30, 39, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

/*** indholdet i popup style ****/

#popup-description2 {
  color: white;
}

.popup-content2 {
  background-color: #a0141b;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.close-btn2 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: #a0141b;
  border: none;
}

#formindex {
  background-color: #a0141b;
}

#formindex input {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border-radius: 35px;
  padding: 10px;
  border: transparent;
}

/** titel i popup style **/
#popup-title2 {
  color: white;
  margin-bottom: 15px;
}

.cta-btn2 {
  text-decoration: underline;
  border: none;
  border-radius: 35px;
  padding: 10px 10px;
  background-color: #a0141b;
  color: white;
  font-family: "Raleway", sans-serif;
}

.cta-btn2:hover {
  color: #e61d27;
}

#offer-toggle2:checked ~ .popup-overlay2 {
  opacity: 1;
  visibility: visible;
}

#offer-toggle2:checked ~ .popup-overlay2 .popup-content2 {
  transform: translateY(0);
}

/******** Index - Download knap ********/

.app-download-trigger {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #96ac4e;
  color: #fff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.app-download-trigger:hover {
  background-color: #a5b764;
  border-radius: 35px;
}

.app-download-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.app-download-popup-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.app-download-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/********** GRØN  challenges **********/

.hidden-checkbox1 {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.cta-btn1 {
  padding: 12px 24px;
  background-color: rgba(150, 172, 78, 1);
  color: white;
  border-radius: 35px;
  border: transparent;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.cta-btn1:hover {
  background-color: rgba(150, 172, 78, 1);
  transform: translateY(-2px);
}

.popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(217, 224, 182, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.popup-content1 {
  background-color: rgba(247, 248, 237, 1);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(20px);
  transition: all 0.3s ease;
  position: relative;
}

.close-btn1 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  border: transparent;
}

#offer-toggle1:checked ~ .popup-overlay1 {
  opacity: 1;
  visibility: visible;
}

#offer-toggle1:checked ~ .popup-overlay1 .popup-content1 {
  transform: translateY(0);
}

/********* MIN PROFIL ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/*** kanppen der trigger popup style ***/
.kobnu_knap{
  padding: 12px 24px;
  background-color: #74a4bc;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  border: transparent;
}

.kobnu_knap:disabled{
  opacity: 0.5;
}

.trigger-btn {
  padding: 12px 24px;
  background-color: #74a4bc;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.trigger-btn:hover {
  background-color: #3f6e8a;
}

/*** popuo desktop formatet style ***/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(63, 109, 136, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

/*** indholdet i popup style ****/

.popup-content {
  background-color: #e9f0f5;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/** titel i popup style **/
#popup-title {
  color: #21303f;
  margin-bottom: 15px;
}

.cta-btn:hover {
  background-color: darkorange;
}

#offer-toggle:checked ~ .popup-overlay {
  opacity: 1;
  visibility: visible;
}

#offer-toggle:checked ~ .popup-overlay .popup-content {
  transform: translateY(0);
}

/**** FILTERING *******/

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -25px;
  background-color: #f7f8ed;
  min-width: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s;
  pointer-events: none;
  border-radius: 35px;
  font-family: "Raleway", sans-serif;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content button {
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background: #f3f4f6;
  text-decoration: underline;
}

#btn-pulse {
  background-color: #f7f8ed;
  font-size: 20px;
  border-radius: 35px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

#btn-drop {
  background-color: #f7f8ed;
  font-size: 20px;
  border: none;
  border-radius: 35px;
  font-family: "Raleway", sans-serif;
}
.belonninger_container {
  margin-top: 2rem;
}
