/*************** Design og udseende **************/
body {
  height: 2000px;
}
/*** ændrer li'ernes farve ****/
@media (prefers-color-scheme: light) {
  ul li::marker {
    color: rgba(230, 29, 39, 1);
  }
}

/*** fonts ****/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;

  color: rgba(33, 48, 63, 1);
}

h2 {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
}

h3 {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
  font-weight: normal;
}

p {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
  font-weight: normal;
}
/**********************************************  MOBIL - starter her *************************************************/
@media screen and (max-width: 800px) {
  /**** Burgermenu ******/
  .menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transition: max-height 2s ease;
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    background-color: rgba(207, 222, 232, 1);
    opacity: 95%;
    z-index: 5;
    text-align: end;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(207, 222, 232, 1);
    opacity: 95%;
    position: absolute;
    top: 12%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 6;
    text-align: end;
    max-height: 100vh; /* DENNE MANGLEDE! */
  }
  .burger {
    display: block;
    padding-top: 10px;
    justify-self: end;
  }
  header {
    display: flex;
    padding: 1rem;
  }
  .navbar {
    padding: 0 5px;
    margin-right: 1rem;
  }

  .burger .line {
    width: 40px;
    height: 4px;
    background-color: rgba(247, 247, 247, 1);
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  .menu a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
    font-weight: 650;
    font-size: 1.7rem;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .menu-open .forside_indhold {
    opacity: 30%;
  }
  /******* logo **********/
  .logo {
    margin-left: -50px;
    margin-right: -40px;
  }

  /****** Body - MOBIL *****/
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-weight: normal;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  /******************************************* index - MOBIL *******************************************/
  .kampagne_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    text-decoration: none;
  }

  .blok2 h3 {
    font-size: 4rem;
    margin-top: -1.4rem;
    margin-left: -5.5rem;
  }

  .order a {
    margin-left: 2rem;
  }

  /******* faktablok 1 - MOBIL ********/

  .faktablok1 {
    background-color: rgba(207, 222, 232, 1);
  }

  .faktablok {
    text-align: center;
    background-color: #dbe6f0;
    padding-top: 2rem;
  }

  .faktablok h1 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }

  .fakta-item {
    width: 125px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .faktablok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .fakta-item .tal {
    font-size: 2rem;
    font-weight: bold;
  }

  .grøn {
    background-color: rgba(150, 172, 78, 1);
    height: 75%;
    margin-top: 100px;
  }
  .blå {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød {
    background-color: rgba(213, 0, 21, 1);
    height: 63%;
    margin-top: 148px;
  }
  .lyseblå {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /******* Hent som app - MOBIL ******/
  .hentsomapp {
    background-color: rgba(207, 222, 232, 1);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .app_img_desk {
    display: none;
  }
  .app_img {
    width: 180%;
    height: auto;
  }

  .bold {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: rgba(33, 48, 63, 1);
    line-height: 3rem;
  }

  .hentsomapp_knap {
    background-color: rgba(150, 172, 78, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;
  }

  /****** video - MOBIL *******/

  .video-wrapper {
    display: flex;
    justify-content: center; /* vandret centrering */
    align-items: center; /* lodret centrering */
    height: 100vh; /* fylder hele skærmhøjden */
    margin-bottom: -10rem;
  }

  video {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 35px;
    margin-top: -10rem;
  }

  .videoh1 {
    position: absolute; /* placerer ovenpå videoen */
    background-color: white;
    padding-left: 20px;
    border-bottom-right-radius: 35px;
    width: 200px;
    margin-left: 6.2rem;
    margin-top: 5rem;
    z-index: 10;
  }

  /****** Alt om points - MOBIL ******/

  .knap_pil {
    background: white;
    border: 1px solid rgba(28, 42, 53, 1);
    color: var(--accent);
    padding: 0.6rem 0.8rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, transform 0.1s;
    text-decoration: none;
    margin-top: 1rem;
  }

  .points_card {
    background-color: rgba(236, 236, 236, 1);
    border-radius: 2rem;
    padding: 20px 40px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .points_img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
    border-radius: 2rem;
  }

  .points_card p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .din_profil_tekst_2 {
    display: none;
  }

  /******* faktablok 2 - MOBIL ********/

  .fakta-item1 {
    width: 500px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .fakta-item p {
    color: rgba(247, 247, 247, 1);
  }

  .grøn1 {
    background-color: rgba(150, 172, 78, 1);
    height: 75.5%;
    margin-top: 100px;
  }
  .blå1 {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød1 {
    background-color: rgba(213, 0, 21, 1);
    height: 64.5%;
    margin-top: 148px;
  }
  .lyseblå1 {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /****** Vidste du CARDS - MOBIL  ******/

  p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .card {
    position: relative;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card1 img {
    width: 85%;
    border-radius: 40px;
    object-fit: cover;
    margin-left: 2rem;
  }

  .card2 img {
    width: 85%;
    border-radius: 40px;
    margin-top: -8rem;
    margin-left: 2rem;
  }

  .vidstedu_boks {
    width: 70%;
    padding: 35px 40px;
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .blue {
    background: #dfeffc;
    margin-left: 7rem;
    margin-top: -12rem; /* overlapper billedet */
  }

  .green {
    background: #eef7c9;
    margin-right: 6rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }

  h1 {
    font-size: 28px;
  }

  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
  }

  /********************************************* Pointshop - MOBIL ***************************************************/

  .belonning_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1400px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 82%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  .tekstblok {
    margin-top: 2rem;
    overflow: visible;
  }

  .tekstblok h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
  }

  .tekstblok h4 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
  }

  .min_profil_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;

    text-decoration: none;
  }
  a.min_profil_knap:hover {
    background-color: rgba(213, 0, 21, 1);
  }

  /************************************************* Challenges - MOBIL ************************************************/

  .challengesh1 {
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .nu_challenges_h1 {
    margin-left: 1.5rem;
    font-size: 2rem;
  }
  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 95%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  /******************************************* challenges - MOBIL *******************************************/

  /******************* karrusel - MOBIL *************************/

  .carousel {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid rgba(28, 42, 53, 1);
    color: var(--accent);
    padding: 0.6rem 0.8rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, transform 0.1s;
    font-size: 1rem;
    z-index: 10;
  }
  .nav-btn.prev {
    left: 0.5rem;
  }
  .nav-btn.next {
    right: 0.5rem;
  }

  .viewport {
    overflow: hidden; /* skjul det der rager ud */
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }

  .track {
    display: flex; /* brug flex i stedet for grid */
    justify-content: center; /* centrer midterkortet */
    align-items: stretch;
    margin-top: 3rem;
  }

  .card {
    flex: 0 0 50%; /* sidekortene fylder halvdelen af viewporten */
    min-height: 600px;
    padding: 1rem;
    border-radius: 50px;
    background: linear-gradient(
        180deg,
        rgba(217, 224, 182, 1),
        rgba(217, 224, 182, 1)
      ),
      var(--card-bg);
    border: 1px solid rgba(217, 224, 182, 1);
    box-shadow: 0 10px 30px rgba(217, 224, 182, 1);
    transition: transform 250ms ease, opacity 250ms ease, box-shadow 250ms ease;
    opacity: 0.7;
    transform: scale(0.95);
  }

  /* Centerkortet */
  .card.center {
    flex: 0 0 50%; /* fylder hele viewporten */
    transform: scale(1.05);
    opacity: 1;
    background-color: rgba(165, 183, 100, 1);
    box-shadow: 0 18px 32px rgba(217, 224, 182, 1);
    border-color: rgba(217, 224, 182, 1);
    z-index: 2;
  }

  .badge {
    background: rgba(217, 224, 182, 1);
    color: var(--accent);
    border: 1px solid whitesmoke;
    padding: 0.25rem 0.5rem;
    border-radius: 35px;
    margin-right: 1rem;
  }

  .card.center .footer {
    display: grid;
    grid-template-columns: 1;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .card h3 {
    margin: 0;
    font-size: clamp(1.5rem, 2.5vw, 1.25rem);
    letter-spacing: 0.4px;
    color: rgba(28, 42, 53, 1);
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  /*********** samarbejdspartnere - MOBIL ***********/

  #samarbejdspartnere_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    gap: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(207, 222, 232, 1);
    padding-block: 2rem;
  }

  .sam_blok {
    border-radius: 35px;
    background-color: whitesmoke;
    padding: 30px 40px;
  }

  .sam_blok h1 {
    text-align: center;
  }

  .sam_h1 {
    padding-top: 2rem;
    padding-left: 1rem;
    background-color: rgba(207, 222, 232, 1);
  }

  .flere_p_vej {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: rgba(207, 222, 232, 1);
    padding-bottom: 2rem;
    font-weight: lighter;
    margin-bottom: 4rem;
  }

  /*********************************************** Min profil - MOBIL **************************************************/

  h1 {
    font-family: ralway, sans-serif;
  }
  h2 {
    font-family: ralway, sans-serif;
  }
  h3 {
    font-family: ralway, sans-serif;
  }

  p {
    font-family: ralway, sans-serif;
  }

  .grid_1-1-1desk {
    margin-right: 10px;
    margin-left: 10px;
  }

  .felx_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .flex-item {
    font-size: 3rem;
    margin: 0px 0px 40px 0px;
  }

  #dinepoints {
    background-color: #96ac4e;
    border-radius: 50px;
    margin: 10px 0px 10px 10px;
  }

  #dinepoints h2 {
    color: white;
    margin: 10px 20px;
  }

  #dinpimg {
    width: 100%;
    border-radius: 50px;
    margin: 10px 10px 10px 0px;
  }

  .udvidetform {
    background-color: rgba(217, 224, 182, 1);
    border-radius: 50px;
  }

  .udvidetform h2 {
    margin-left: 30px;
    padding-top: 30px;
  }

  form {
    background-color: rgba(217, 224, 182, 1);
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
    padding: 20px;
  }

  .inputfelt {
    padding: 10px;
    font-size: 1.2rem;
    border: 0px;
    background-color: #f7f8ed;
    font-family: raleway, sans-serif;
  }

  label {
    font-family: ralway, sans-serif;
    color: #3b4225;
  }

  .baggrundimg {
    background-color: #697b36;
    border-radius: 50px;
  }
  .pb img {
    border-radius: 100%;
    max-width: 180px;
  }

  .vedvandet {
    border-radius: 50px;
    width: 100%;
  }

  .rødkasse {
    background-color: #c2131c;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .rødkasse h2 {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.3rem;
  }

  .grønkasse {
    background-color: #3b4225;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .grønkasse h2 {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.3rem;
  }

  /***** LAYOUT - MOBIL *****/

  .din_profil_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .pb {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .form_container {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .form_container2 {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .disabled {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); /* gør kortet “mørkere” */
  }

  .disabled::after {
    content: "Ikke nok points";
    font-family: "Raleway", sans-serif;
    background-color: rgba(230, 29, 39, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 58%;

    position: absolute; /* placér mærkatet absolut */
    top: 70px;
    left: 0rem;
    z-index: 1;
  }

  .kobnu_knap {
    background-color: rgba(150, 172, 78, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 7px 14px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
  }

  .kobnu_knap[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
  }

  /******************************************* footer - MOBIL ************************************************/

  .footer_card {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2rem;
    padding: 30px 60px;
    margin-block: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .footer_card h3 {
    font-weight: bold;
    margin-top: 40px;
  }

  .footer_card p {
    padding: -20px;
  }
  .footer_card p:hover {
    text-decoration: underline;
  }

  .footer_card2 {
    background-color: rgba(226, 30, 39, 1);
    border-radius: 2rem;
    padding: 40px 60px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: -15px;
  }

  .footer_card2 h1 {
    color: rgba(247, 247, 247, 1);
    padding-top: 2rem;
    font-size: xx-large;
  }

  .footer_card2 img {
    width: 22%;
  }
}

/************************************************ DESKTOP - starter her *********************************************/
@media screen and (min-width: 800px) {
  /****** menu - DESKTOP *****/
  nav li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav a {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(33, 48, 63, 1);
  }

  nav a:hover {
    text-decoration: underline;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  /********************************************* index - DESKTOP ****************************************************/

  /****** overskrift - DESKTOP *****/
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(33, 48, 63, 1);
  }

  h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
    line-height: 3rem;
  }

  .blok2 {
    margin-left: 10rem;
    margin-top: 3rem;
  }

  .blok2 h1 {
    font-size: 3rem;
  }

  .blok2 h3 {
    font-size: 5rem;
    margin-top: -1.2rem;
    margin-left: -3rem;
  }

  .blok2 h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .order {
    margin-left: 4.5rem;
    margin-top: 6rem;
  }

  .order h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  /****** alt om point knap - DESKTOP *****/
  .kampagne_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
  }

  /******** Vidste du at.... blok 1 - DESKTOP ******/
  .faktablok1 {
    background-color: rgba(207, 222, 232, 1);
  }

  .faktablok {
    text-align: center;
    background-color: #dbe6f0;
    padding-top: 2rem;
  }

  .faktablok p {
    font-size: 1.8rem;
    color: rgba(247, 247, 247, 1);
  }

  .faktablok h1 {
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .fakta-item {
    width: 250px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .faktablok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .fakta-item .tal {
    font-size: 2rem;
    font-weight: bold;
  }

  .grøn {
    background-color: rgba(150, 172, 78, 1);
    height: 75%;
    margin-top: 100px;
  }
  .blå {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød {
    background-color: rgba(213, 0, 21, 1);
    height: 63%;
    margin-top: 148px;
  }
  .lyseblå {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /********** video - DESKTOP **********/
  .video-wrapper {
    display: flex;
    justify-content: center; /* vandret centrering */
    align-items: center; /* lodret centrering */
    height: 100vh; /* fylder hele skærmhøjden */
  }

  video {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 35px;
    margin-top: -5rem;
  }

  .videoh1 {
    position: absolute; /* placerer ovenpå videoen */
    background-color: white;
    padding-left: 20px;
    border-bottom-right-radius: 35px;
    width: 475px;
    margin-left: 13.5rem;
    margin-top: 3rem;
    z-index: 10;
  }

  /************** hent som app - DESKTOP **************/
  .hentsomapp {
    background-color: rgba(207, 222, 232, 1);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
  }
  .app_img {
    display: none;
  }

  .img_container {
    display: flex;
    justify-content: center;
  }

  .app_img_desk {
    width: 180%;
    height: auto;
  }

  .hentsomapp h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .bold {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: -3rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    color: rgba(33, 48, 63, 1);
    line-height: 4rem;
  }

  .hentsomapp_knap {
    background-color: rgba(150, 172, 78, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 20px 34px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 20px;
  }
  /************** alt om points sektion - DESKTOP **************/

  .din_profil_tekst {
    display: none;
  }
  .din_profil_tekst_2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 3rem;
  }

  .knap_pil {
    background: white;
    border: 1px solid rgba(28, 42, 53, 1);
    color: var(--accent);
    padding: 0.6rem 0.8rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, transform 0.1s;
    text-decoration: none;
    margin-top: 1rem;
  }

  .points_card {
    background-color: rgba(236, 236, 236, 1);
    border-radius: 2rem;
    padding: 20px 30px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 25%;
  }

  .points_img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 2rem;
  }
  .points_card_grid h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .points_card p {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
  }

  .belonning_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1400px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 50%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  .tekstblok {
    margin-top: 2rem;
  }

  .tekstblok h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
  }

  .tekstblok h4 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
  }

  /*********** Vidste du at... blok 2 - DESKTOP ***********/
  .fakta-item1 {
    width: 500px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .fakta-item p {
    color: rgba(247, 247, 247, 1);
  }

  .grøn1 {
    background-color: rgba(150, 172, 78, 1);
    height: 75.5%;
    margin-top: 100px;
  }
  .blå1 {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød1 {
    background-color: rgba(213, 0, 21, 1);
    height: 64.5%;
    margin-top: 148px;
  }
  .lyseblå1 {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /********** Vidste du CARD HOVER - DESKTOP ***********/
  p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(225, 225, 225, 1);
    background-image: url(../img/logo_bg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;

    position: relative;
  }

  /* Hover-effekt for card1 og card2 */
  .card1,
  .card2 {
    position: relative;
    cursor: pointer;
  }

  /* Skaler billedet lidt ved hover for dynamik */
  .card1:hover img,
  .card2:hover img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }

  /* Gør vidstedu_boks til overlay på hover */
  .card1:hover .blue,
  .card2:hover .green {
    display: block; /* vises på hover */
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
  }

  /* Fade-in og glide-effekt */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card1 img {
    width: 80%;
    border-radius: 40px;
    object-fit: cover;
  }

  .card2 img {
    display: grid;
    width: 70%;
    border-radius: 40px;
    margin-left: 10rem;
  }

  .vidstedu_boks {
    width: 70%;
    padding: 35px 40px;
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }

  .blue {
    display: none;
    background: #dfeffc;
    margin-left: 7rem;
    margin-top: -12rem; /* overlapper billedet */
  }

  .green {
    display: none;
    background: #eef7c9;
    margin-right: 6rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }

  /* Sørg for at overlay ikke påvirker layout */
  .vidstedu_boks {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  /* Justeringer af card1 og card2 overlay */
  .card1 .blue {
    width: 70%;
    margin-left: 10rem;
    margin-top: 3rem;
  }

  /******************************************* challenges - DESKTOP *******************************************/

  .challenges_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    max-width: 1700px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .challengesh1 {
    font-size: 4rem;
    margin-left: 5rem;
    margin-top: 5rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 100px 60px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 10px 10px;
    width: 50%;
    margin-left: -3.8rem;
    margin-top: -1rem;
  }
  .point {
    font-size: 2rem;
  }

  .tekstblok h2 {
    font-size: 2rem;
  }
  .tekstblok h4 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  /************ karrusel - DESKTOP *******************/
  .carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
    width: 90%;
    margin: 0 auto; /* centrer vandret */
  }

  .nav-btn {
    background: transparent;
    border: 2px solid rgba(28, 42, 53, 1);
    color: var(--accent);
    padding: 0.6rem 0.8rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, transform 0.1s;
  }
  .nav-btn:hover {
    background: var(--accent);
    color: #07231a;
    transform: scale(1.5);
  }
  .nav-btn:active {
    transform: scale(0.97);
  }

  .viewport {
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .track {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: stretch; /* sørger for at alle kort strækkes til samme højde */
    transition: transform 250ms ease;
    padding-block: 0.5rem;
  }

  .card {
    background: linear-gradient(
        180deg,
        rgba(217, 224, 182, 1),
        rgba(217, 224, 182, 1)
      ),
      var(--card-bg);
    border: 1px solid rgba(217, 224, 182, 1);
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70vh;
    box-shadow: 0 10px 30px rgba(217, 224, 182, 1);
    transform: scale(0.94);
    opacity: 0.9;
    transition: transform 250ms ease, opacity 250ms ease, box-shadow 250ms ease;
    background-color: rgba(217, 224, 182, 1);
  }

  .card.center {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 3px 40px rgba(217, 224, 182, 1);
    border-color: rgba(217, 224, 182, 1);
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(165, 183, 100, 1);
  }

  .card h3 {
    margin: 0;
    font-size: 3rem;
    margin-top: 3rem;
    letter-spacing: 0.4px;
    color: rgba(28, 42, 53, 1);
    font-weight: bolder;
    text-align: center;
  }

  .card p {
    margin: 0;
    font-size: 6rem;

    color: rgba(28, 42, 53, 1);
  }

  .card .desc {
    display: none; /* skjul tekst som standard */
  }

  .card .footer {
    display: none; /* skjul footer som standard */
  }

  .card.center .desc {
    display: block; /* vis kun på midterkortet */
    font-size: 1.4rem; /* gør teksten mindre */
    line-height: 1.6;
    color: rgba(28, 42, 53, 1);
    padding: 2rem;
  }

  .card.center .footer {
    display: flex; /* vis kun på midterkortet */
  }

  .badge {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background: rgba(217, 224, 182, 1);
    color: var(--accent);
    border: 1px solid whitesmoke;
    padding: 0.25rem 0.5rem;
    border-radius: 35px;
    margin-right: 1rem;
  }

  /*********** samarbejdspartnere - DESKTOP ***********/
  #samarbejdspartnere_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 2000px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(207, 222, 232, 1);
    padding-block: 2rem;
  }

  .sam_h1 {
    padding-top: 2rem;
    padding-left: 3rem;
    background-color: rgba(207, 222, 232, 1);
  }
  .sam_blok {
    border-radius: 35px;
    background-color: whitesmoke;
    padding: 30px 40px;
  }

  .sam_blok h1 {
    text-align: center;
  }

  .sam_blok h1 {
    text-align: center;
  }

  .flere_p_vej {
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: rgba(207, 222, 232, 1);
    padding-bottom: 2rem;
    font-weight: lighter;
  }

  /********************************************* Pointshop - DESKTOP ***************************************************/

  .belonning_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1800px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 82%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  .tekstblok {
    margin-top: 2rem;
    overflow: visible;
  }

  .tekstblok h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
  }

  .tekstblok h4 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
  }

  .min_profil_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;

    text-decoration: none;
  }
  a.min_profil_knap:hover {
    background-color: rgba(213, 0, 21, 1);
  }

  /************************************************ Min profil - DESKTOP ************************************************/

  /********** overskrift - DESKTOP ***********/
  .felx_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .flex-item {
    font-size: 3rem;
    margin: 0px 0px 40px 0px;
  }

  .h1top {
    font-size: 2rem;
    margin: 0px 0px 0px 10px;
  }

  /********** grid bokse top - DESKTOP ***********/
  .grid_1-1-1desk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 3rem;
  }

  .grid_1-1-1desk > div:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 1/4;
  }

  .grid_1-1-1desk > div:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .grid_1-1-1desk > .din_profil_grid_1-1:last-of-type {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .points_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* venstre og højre */
    gap: 30px;
    width: 100%;
    grid-column: 1 / 3;
  }
  /********** styling bokse top - DESKTOP ***********/
  #dinepoints {
    display: grid;
    grid-column: 1;
    background-color: #96ac4e;
    border-radius: 35px;
    padding: 20px;
    grid-column: 1;
    width: 100%;
    margin-left: 1rem;
    object-fit: cover; /* fylder containeren, bevarer proportioner */
    object-position: center; /* beskærer lige meget top og bund */
  }

  #dinepoints h2 {
    color: white;
    margin: 10px 20px;
    font-size: xxx-large;
    font-weight: bold;
    margin-top: 20px;
  }

  .udvidetform {
    background-color: rgba(217, 224, 182, 1);
    border-radius: 35px;
  }

  .udvidetform h2 {
    margin-left: 30px;
    padding-top: 30px;
  }
  /***** styling img bokse - DESKTOP *******/
  .dinpimg_container {
    width: 100%; /* fylder hele bredden */
    height: 300px; /* den højde du ønsker */
    overflow: hidden;
    flex: 2;
  }

  #dinpimg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fylder containeren, bevarer proportioner */
    object-position: center; /* beskærer lige meget top og bund */
    border-radius: 35px;
  }

  form {
    background-color: rgba(217, 224, 182, 1);
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
    padding: 20px;
  }

  .inputfelt {
    padding: 10px;
    font-size: 1.2rem;
    border: 0px;
    background-color: #f7f8ed;
    font-family: raleway, sans-serif;
  }

  label {
    font-family: ralway, sans-serif;
    color: #3b4225;
  }

  .pb img {
    border-radius: 35px;
    max-width: 180px;
  }
  .baggrundimg {
    background-color: #697b36;
  }

  .vedvandet {
    border-radius: 35px;
    width: 98%;
    margin-left: 1rem;
  }

  .rødkasse {
    background-color: #c2131c;
    border-radius: 35px;
    margin-left: 1rem;
    object-fit: cover; /* fylder containeren, bevarer proportioner */
    object-position: center; /* beskærer lige meget top og bund */
    padding: 20px;
  }

  .rødkasse h2 {
    font-size: xx-large;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 3rem;
  }

  .grønkasse {
    background-color: #3b4225;
    border-radius: 35px;
    margin-left: 1rem;
    object-fit: cover; /* fylder containeren, bevarer proportioner */
    object-position: center; /* beskærer lige meget top og bund */
    padding: 20px;
  }

  .grønkasse h2 {
    font-size: xx-large;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 3rem;
  }

  /* LAYOUT TIL MIN PROFIL */

  /* NYT – gør at dinepoints og billedet ligger side om side */

  #dinpimg {
    border-radius: 35px;
    max-width: 100%; /* så det ikke sprænger containeren */
    height: auto;
  }

  .dinpimg_container {
    display: flex; /* gør containeren til flex */
    justify-content: flex-end; /* skubber indholdet (billedet) mod højre */
    flex: 2;
  }

  /* Din profil grid styling */
  .din_profil_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #dinepoints {
    grid-column: 1/2;
    flex: 1;
  }

  .baggrundimg {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .nu_challenges_h1_dinprofil {
    margin-left: 2rem;
  }
  .belonninger_container {
    max-width: 1700px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* FORMULAR STYLING */

  .form_container {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .form_container2 {
    display: grid;
    grid-column: 4/5;
    grid-row: 2/3;
  }

  /*********** footer - DESKTOP ***********/

  .footer_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2rem;
    padding: 30px 60px;
    width: 100%;
    height: 100%;
  }
  .footer_card h3 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 4rem;
    margin-left: 3rem;
  }

  .footer_card p {
    line-height: 3rem;
  }
  .footer_card li {
    margin-left: 3rem;
  }
  .footer_card p:hover {
    text-decoration: underline;
  }

  .footer_card2 {
    grid-column: 2;
    background-color: rgba(226, 30, 39, 1);
    border-radius: 2rem;
    padding: 40px 60px;
    height: 100%;
    width: 80%;
  }

  .footer_card2 h1 {
    color: rgba(247, 247, 247, 1);
    padding-top: 9rem;
    font-size: xx-large;
  }

  .footer_card2 img {
    width: 35%;
  }
}

/********** tilbage til top knap - DESKTOP ***********/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media (max-width: 1024px) {
  .grid_1-1-1desk {
    grid-template-columns: 1fr;
  }

  .grid_1-1-1desk > div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2 / 3;
  }

  .grid_1-1-1desk > div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
  .disabled {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); /* gør kortet “mørkere” */
  }

  .disabled::after {
    content: "Ikke nok points";
    font-family: "Raleway", sans-serif;
    background-color: rgba(230, 29, 39, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 35%;

    position: absolute; /* placér mærkatet absolut */
    top: 70px;
    left: 0rem;
    z-index: 1;
  }

  .kobnu_knap {
    background-color: rgba(150, 172, 78, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 7px 14px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
  }

  .kobnu_knap[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
  }

  /*********** footer - DESKTOP ***********/

 /* .footer_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2rem;
    padding: 30px 60px;
    width: 100%;
    height: 100%;
  }
  .footer_card h3 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 4rem;
    margin-left: 3rem;
  }

  .footer_card p {
    line-height: 3rem;
  }
  .footer_card li {
    margin-left: 3rem;
  }
  .footer_card p:hover {
    text-decoration: underline;
  }

  .footer_card2 {
    grid-column: 2;
    background-color: rgba(226, 30, 39, 1);
    border-radius: 2rem;
    padding: 40px 60px;
    height: 100%;
    width: 80%;
  }

  .footer_card2 h1 {
    color: rgba(247, 247, 247, 1);
    padding-top: 9rem;
    font-size: xx-large;
  }

  .footer_card2 img {
    width: 35%;
  }

