/*************** Design og udseende **************/

/*** ændrer li'ernes farve ****/
@media (prefers-color-scheme: light) {
  ul li::marker {
    color: rgba(230, 29, 39, 1);
  }
}

/*** fonts ****/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;

  color: rgba(33, 48, 63, 1);
}

h2 {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
}

h3 {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
  font-weight: normal;
}

p {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 48, 63, 1);
  font-weight: normal;
}
/**********************************************  MOBIL - starter her *************************************************/
@media screen and (max-width: 800px) {
  /**** Burgermenu ******/
  .menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transition: max-height 2s ease;
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    background-color: rgba(207, 222, 232, 1);
    opacity: 95%;
    z-index: 5;
    text-align: end;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(207, 222, 232, 1);
    opacity: 95%;
    position: absolute;
    top: 12%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 6;
    text-align: end;
    max-height: 100vh; /* DENNE MANGLEDE! */
  }
  .burger {
    display: block;
    padding-top: 10px;
    justify-self: end;
  }
  header {
    display: flex;
    padding: 1rem;
  }
  .navbar {
    padding: 0 5px;
    margin-right: 1rem;
  }

  .burger .line {
    width: 40px;
    height: 4px;
    background-color: rgba(247, 247, 247, 1);
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  .menu a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: rgba(28, 42, 53, 1);
    font-weight: 650;
    font-size: 1.7rem;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .menu-open .forside_indhold {
    opacity: 30%;
  }
  /******* logo **********/
  .logo {
    margin-left: -50px;
    margin-right: -40px;
  }

  /****** Body - MOBIL *****/
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-weight: normal;
    line-height: 3rem;
  }
  /******************************************* index - MOBIL *******************************************/
  .kampagne_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;
  }

  /******* faktablok 1 - MOBIL ********/

  .faktablok1 {
    background-color: rgba(207, 222, 232, 1);
  }

  .faktablok {
    text-align: center;
    background-color: #dbe6f0;
    padding-top: 2rem;
  }

  .faktablok h1 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }

  .fakta-item {
    width: 125px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .faktablok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .fakta-item .tal {
    font-size: 2rem;
    font-weight: bold;
  }

  .grøn {
    background-color: rgba(150, 172, 78, 1);
    height: 75%;
    margin-top: 100px;
  }
  .blå {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød {
    background-color: rgba(213, 0, 21, 1);
    height: 63%;
    margin-top: 148px;
  }
  .lyseblå {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /******* Hent som app - MOBIL ******/
  .hentsomapp {
    background-color: rgba(207, 222, 232, 1);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .bold {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: rgba(33, 48, 63, 1);
    line-height: 3rem;
  }

  .hentsomapp_knap {
    background-color: rgba(150, 172, 78, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;
  }

  /****** video - MOBIL *******/

  .video-wrapper {
    display: flex;
    justify-content: center; /* vandret centrering */
    align-items: center; /* lodret centrering */
    height: 100vh; /* fylder hele skærmhøjden */
  }

  video {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 35px;
    margin-top: -10rem;
  }

  .videoh1 {
    position: absolute; /* placerer ovenpå videoen */
    background-color: white;
    padding-left: 20px;
    border-bottom-right-radius: 35px;
    width: 200px;
    margin-left: 6.2rem;
    margin-top: 5rem;
    z-index: 10;
  }

  /****** Alt om points - MOBIL ******/

  .knap_pil_1 img {
    height: 30%;
    width: 30%;
  }

  .knap_pil_2 img {
    height: 30%;
    width: 100%;
  }

  .points_card {
    background-color: rgba(236, 236, 236, 1);
    border-radius: 2rem;
    padding: 20px 40px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .points_img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
    border-radius: 2rem;
  }

  .points_card p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .din_profil_tekst_2 {
    display: none;
  }

  /******* faktablok 2 - MOBIL ********/

  .fakta-item1 {
    width: 500px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .fakta-item p {
    color: rgba(247, 247, 247, 1);
  }

  .grøn1 {
    background-color: rgba(150, 172, 78, 1);
    height: 75.5%;
    margin-top: 100px;
  }
  .blå1 {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød1 {
    background-color: rgba(213, 0, 21, 1);
    height: 64.5%;
    margin-top: 148px;
  }
  .lyseblå1 {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /****** Vidste du CARDS - MOBIL  ******/

  p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .card {
    position: relative;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card1 img {
    width: 85%;
    border-radius: 40px;
    object-fit: cover;
    margin-left: 2rem;
  }

  .card2 img {
    width: 85%;
    border-radius: 40px;
    margin-top: -8rem;
    margin-left: 2rem;
  }

  .vidstedu_boks {
    width: 70%;
    padding: 35px 40px;
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .blue {
    background: #dfeffc;
    margin-left: 7rem;
    margin-top: -12rem; /* overlapper billedet */
  }

  .green {
    background: #eef7c9;
    margin-right: 6rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }

  h1 {
    margin: 0 0 15px 0;
    font-size: 28px;
  }

  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
  }

  /***** Pointshop - MOBIL ******/

  .belonning_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1400px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 82%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  .tekstblok {
    margin-top: 2rem;
  }

  .tekstblok h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
  }

  .tekstblok h4 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
  }

  .min_profil_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;

    text-decoration: none;
  }
  a.min_profil_knap:hover {
    background-color: rgba(213, 0, 21, 1);
  }

  /***** Challenges - MOBIL *****/

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 82%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  /******************************************* challenges - MOBIL *******************************************/
  .challengesh1 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .nu_challenges_h1 {
    font-size: 2.3rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }

  /******************************************* footer - MOBIL ************************************************/

  .footer_card {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2rem;
    padding: 30px 60px;
    margin-block: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .footer_card h3 {
    font-weight: bold;
    margin-top: 40px;
  }

  .footer_card p {
    padding: -20px;
  }
  .footer_card p:hover {
    text-decoration: underline;
  }

  .footer_card2 {
    background-color: rgba(226, 30, 39, 1);
    border-radius: 2rem;
    padding: 40px 60px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: -15px;
  }

  .footer_card2 h1 {
    color: rgba(247, 247, 247, 1);
    padding-top: 2rem;
    font-size: xx-large;
  }

  .footer_card2 img {
    width: 22%;
  }
}

/************************************************ DESKTOP - starter her *********************************************/
@media screen and (min-width: 800px) {
  /****** menu - DESKTOP *****/
  nav li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav a {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(33, 48, 63, 1);
  }

  nav a:hover {
    text-decoration: underline;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  /********************************************* index - DESKTOP **************************************/

  /****** overskrift - DESKTOP *****/
  h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(33, 48, 63, 1);
  }

  h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
    line-height: 3rem;
  }

  .blok2 {
    margin-left: 10rem;
    margin-top: 3rem;
  }

  .blok2 h1 {
    font-size: 5rem;
  }

  .blok2 h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .order {
    margin-left: 4.5rem;
    margin-top: 3rem;
  }

  .order h1 {
    font-size: 5rem;
  }

  .order h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  /****** alt om point knap - DESKTOP *****/
  .kampagne_knap {
    background-color: rgba(230, 29, 39, 1);
    color: rgba(247, 247, 247, 1);
    border: none;
    padding: 12px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    margin-top: 10px;
  }

  /******** Vidste du at.... blok 1 - DESKTOP ******/
  .faktablok1 {
    background-color: rgba(207, 222, 232, 1);
  }

  .faktablok {
    text-align: center;
    background-color: #dbe6f0;
    padding-top: 2rem;
  }

  .faktablok p {
    font-size: 1.8rem;
    color: rgba(247, 247, 247, 1);
  }

  .faktablok h1 {
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .fakta-item {
    width: 250px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .faktablok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .fakta-item .tal {
    font-size: 2rem;
    font-weight: bold;
  }

  .grøn {
    background-color: rgba(150, 172, 78, 1);
    height: 75%;
    margin-top: 100px;
  }
  .blå {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød {
    background-color: rgba(213, 0, 21, 1);
    height: 63%;
    margin-top: 148px;
  }
  .lyseblå {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /********** video - DESKTOP **********/
  .video-wrapper {
    display: flex;
    justify-content: center; /* vandret centrering */
    align-items: center; /* lodret centrering */
    height: 100vh; /* fylder hele skærmhøjden */
  }

  video {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 35px;
    margin-top: -5rem;
  }

  .videoh1 {
    position: absolute; /* placerer ovenpå videoen */
    background-color: white;
    padding-left: 20px;
    border-bottom-right-radius: 35px;
    width: 475px;
    margin-left: 13.5rem;
    margin-top: 1rem;
    z-index: 10;
  }

  /************** alt om points sektion - DESKTOP **************/
  .din_profil_tekst {
    display: none;
  }
  .din_profil_tekst_2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 5rem;
  }

  .knap_pil_1 img {
    height: 30%;
    width: 20%;
  }

  .points_card {
    background-color: rgba(236, 236, 236, 1);
    border-radius: 2rem;
    padding: 20px 40px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 25%;
  }

  .points_img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 2rem;
  }

  .points_card p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }

  .belonning_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1400px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 50%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  .tekstblok {
    margin-top: 2rem;
  }

  .tekstblok h2 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
  }

  .tekstblok h4 {
    font-family: "Raleway", sans-serif;
    color: rgba(33, 48, 63, 1);
    font-weight: normal;
  }

  /*********** Vidste du at... blok 2 - DESKTOP ***********/
  .fakta-item1 {
    width: 500px;
    padding: 1rem;
    border-radius: 50px 50px 0 0; /* Runder toppen */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .fakta-item p {
    color: rgba(247, 247, 247, 1);
  }

  .grøn1 {
    background-color: rgba(150, 172, 78, 1);
    height: 75.5%;
    margin-top: 100px;
  }
  .blå1 {
    background-color: rgba(63, 110, 138, 1);
    height: 90%;
    margin-top: 40px;
  }
  .rød1 {
    background-color: rgba(213, 0, 21, 1);
    height: 64.5%;
    margin-top: 148px;
  }
  .lyseblå1 {
    background-color: rgba(116, 164, 188, 1);
    height: 78%;
    margin-top: 88px;
  }

  /********** Vidste du CARD HOVER - DESKTOP ***********/
  p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(225, 225, 225, 1);
    background-image: url(../img/logo_bg.png);
    background-size: cover;
    position: relative;
  }

  .card {
    position: relative;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
  }

  .card1 img {
    width: 80%;
    border-radius: 40px;
    object-fit: cover;
  }

  .card2 img {
    display: grid;
    width: 70%;
    border-radius: 40px;
    margin-left: 10rem;
  }

  .vidstedu_boks {
    width: 70%;
    padding: 35px 40px;
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }

  .blue {
    display: none;
    background: #dfeffc;
    margin-left: 7rem;
    margin-top: -12rem; /* overlapper billedet */
  }

  .green {
    display: none;
    background: #eef7c9;
    margin-right: 6rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }

  /*********** Challenges - DESKTOP ***********/

  .challenges_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1400px;
    gap: 30px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mærker {
    background-color: rgba(186, 209, 223, 1);
    padding: 50px 30px;
    border-radius: 35px;
  }

  .pointsbanner {
    background-color: rgba(247, 248, 237, 1);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 6px 10px;
    width: 50%;
    margin-left: -1.9rem;
    margin-top: -1rem;
  }

  /*********** footer - DESKTOP ***********/

  .footer_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2rem;
    padding: 30px 60px;
    width: 100%;
    height: 100%;
  }
  .footer_card h3 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 3rem;
  }

  .footer_card p {
    line-height: 3rem;
  }
  .footer_card li {
    margin-left: 3rem;
  }
  .footer_card p:hover {
    text-decoration: underline;
  }

  .footer_card2 {
    grid-column: 2;
    background-color: rgba(226, 30, 39, 1);
    border-radius: 2rem;
    padding: 40px 60px;
    height: 100%;
    width: 80%;
  }

  .footer_card2 h1 {
    color: rgba(247, 247, 247, 1);
    padding-top: 9rem;
    font-size: xx-large;
  }

  .footer_card2 img {
    width: 35%;
  }
}
